.error {
  text-align: center;
  margin-bottom: 3rem;
  color: rgb(219, 8, 8);
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 rgb(122, 24, 24), 0 2px 0 #7e2424, 0 3px 0 rgb(130, 28, 28), 0 4px 0 #ad3939,
    0 5px 0 rgb(142, 35, 35), 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.error-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 400px;
  height: 270px;
  font-size: 1.8rem;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.8);
}
