
.cardDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 7px; 
    -webkit-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.8);
    box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.8);
    
    

   
}
.cardDetails-img{
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 7px; 
    -webkit-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.8);
    box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.8);
}

.content-text-details{
    border-radius: 0px 0px 7px 7px; 
    -webkit-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.8);
    box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.8);
}

.cardDetails-longDescription{
    padding: 50px;
    padding-top: 10px;
    font-size: 1.2rem;
    line-height: 24px;

}
.cardDetals-title{
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
    
}



